@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--<h1 class="display-4">Welcome</h1>-->
    <img class="img-fluid" width="270px" style="margin-top: 8vh; user-select: none;" src="img/LogoPrincipalRetangulo.png" alt="Logo" draggable="false">
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<section class="flex">
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
        <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
        <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
        <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus2">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
</section>
<section class="flex">
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus2">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>

</section>

<section class="flexServicosDestaque">
    <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
        <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
        <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
        <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
    <div class="SDestaque">
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
</section>
